body, button, input, select, textarea {
  font-family: 'Spoqa Han Sans', sans-serif;
}

code {
  font-family: 'Nanum Gothic Coding', monospace;
}

pre.highlight {
  border-radius: 4px;
  box-shadow: 0 0 1px;
}

.container {
  max-width: 960px;
}

#disqus_thread {
  margin-top: 24px;
}
