<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>{{ site.title }}</title>
    {% include links.html %}
  </head>
  <body>
    {% include nav.html %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters">
            <div class="content is-medium">
              {{ content }}
            </div>
          </div>
          <div class="column">
            {% include sidemenu.html %}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include jstail.html %}
  </body>
</html>
