<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>{{ site.title }}: {{ page.title }}</title>
    {% include links.html %}
  </head>
  <body>
    {% include nav.html %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters">
            <h2 class="title is-2">{{ page.title }}</h2>
            <span>{{ page.date | date: "%Y년 %m월 %d일 %H시 %M분" }}</span>
            <hr />
            <div class="content is-medium">
              {{ page.content }}
              {% for tag in page.tags %}
                <span class="tag is-danger is-medium">{{ tag }}</span>
              {% endfor %}
            </div>
            <hr />
            이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">크리에이티브 커먼즈 저작자표시-비영리 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
          </div>
          <div class="column">
            {% include sidemenu.html %}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include jstail.html %}
  </body>
</html>
